---
import BaseLayout from '@/layouts/BaseLayout.astro'
import CommonHeader from '@/components/common/CommonHeader.vue'
import CommonFooter from '@/components/common/CommonFooter.vue'
import WhatsAppFloatingButton from '@/components/common/WhatsAppFloatingButton.vue'
import CategoryPageContent from '@/components/incense-sticks-category/CategoryPageContent.vue'
---

<BaseLayout title="Low Smoke Incense Sticks - Nafha">
  <div class="min-h-screen flex flex-col bg-background">
    <CommonHeader client:only="vue" />
    
    <main class="flex-1">
      <CategoryPageContent client:idle />
    </main>
    
    <CommonFooter client:only="vue" />
    <WhatsAppFloatingButton client:only="vue" />
  </div>
</BaseLayout>
