---
import BaseLayout from '@/layouts/BaseLayout.astro'
import CommonHeader from '@/components/common/CommonHeader.vue'
import CommonFooter from '@/components/common/CommonFooter.vue'
import WhatsAppFloatingButton from '@/components/common/WhatsAppFloatingButton.vue'
import SourcingHero from '@/components/sourcing-craft/SourcingHero.vue'
import SourcingMap from '@/components/sourcing-craft/SourcingMap.vue'
import ProcessTimeline from '@/components/sourcing-craft/ProcessTimeline.vue'
import MaterialExplanation from '@/components/sourcing-craft/MaterialExplanation.vue'
import QualityPromiseSection from '@/components/sourcing-craft/QualityPromiseSection.vue'
import SourcingCTA from '@/components/sourcing-craft/SourcingCTA.vue'
---

<BaseLayout title="Sourcing & Craft - Nafha">
  <div class="min-h-screen flex flex-col bg-background">
    <CommonHeader client:only="vue" />
    
    <main class="flex-1">
      <!-- Hero Section -->
      <SourcingHero client:idle />
      
      <!-- Sourcing Map Section -->
      <SourcingMap client:idle />
      
      <!-- Process Timeline Section -->
      <ProcessTimeline client:idle />
      
      <!-- Material Explanation Section -->
      <MaterialExplanation client:idle />
      
      <!-- Quality Promise Section -->
      <QualityPromiseSection client:idle />
      
      <!-- CTA Section -->
      <SourcingCTA client:idle />
    </main>
    
    <CommonFooter client:only="vue" />
    <WhatsAppFloatingButton client:only="vue" />
  </div>
</BaseLayout>
